*{
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
}
h1{
    font-size: 40px;
}

body{
    padding-top: 70px;
    width: 640px;
    margin:auto;
    align-items: center; 
    justify-content: center; 
}

.content{
        width: 400px; 
        padding: 20px;
        border: 1px solid #e4e4a1;
        border-radius: 20px 20px 20px 20px;
        background-color: #e4e4a1 ;
        margin:auto;
        box-shadow: 5px 5px 0px #ee00f6,
                    10px 10px 0px #ce6fed, 
                    15px 15px 0px #9489dd,
                    20px 20px 0px #2582aa;

}